{% extends 'layout.html' %}
{%block content%}  
{% load static %}

<div id="page-wrapper">
    <div class="main-page">
        <div class="panel-body search" style="display: flex; justify-content: space-between;">
            <div class="filter-box" >
                <form action="" method="GET" id="filter-form">
                    <label for="filter">Filter by:</label>
                    <select name="filter" id="filter" style="height: 30px;">
                        <option value="">All</option>
                        <option value="to-do">To-Do</option>
                        <option value="in progress">In Progress</option>
                        <option value="completed">Completed</option>
                    </select>
                    <button type="submit">
                        <i class="fa fa-filter"></i>
                    </button>
                </form>
            </div>
            <div>
            <form action="" method="GET" style="margin-top: 7px;">
                <input type="text" name="search" placeholder="Search">
                <button type="submit" href="/">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
        </div>
        <div class="panel-body widget-shadow">
            <h4>Status View:</h4>
            
            <table class="table">
                <thead>
                    <tr>
                      <th>Date</th>
                      <th>Project</th>
                      <th>Task</th>
                      <th>Staff</th>
                      <th>Status</th>
                      <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in c%}
                    <tr>
                      <td>{{i.current_date}}</td>
                      <td>{{i.project}}</td>
                      <td>{{i.title}}</td>
                      <td>{{i.staff}}</td>
                      {%if i.statuses == None %}
                      <th>Not Updated</th>
                      {% else %}
                      <td>{{i.statuses}}</td>
                      {% endif %}
                      {%if i.messages == None %}
                      <th>Not Updated</th>
                      {% else %}
                      <td>{{i.messages}}</td>
                      {% endif %}
                      
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#filter").change(function(){
            $("#filter-form").submit();
        })
    })
</script>
{%endblock%}