{% extends 'layout.html' %}
{% block content %}
{% load static %}

<div id="page-wrapper">
    <div class="main-page">
        <div>
            <div class="panel-body search" style="display: flex; justify-content: space-between;">
                <form action="" method="GET" style="margin-right: 10px;" id="filter-form1">
                    <select name="filter" id="project-filter">
                        <option value="" selected>Select Project</option>
                        {% for project_title in distinct_project_titles %}
                            <option value="{{ project_title }}">{{ project_title }}</option>
                        {% endfor %}
                    </select>
                </form>
                <form action="" method="GET" style="margin-right: 10px;" id="filter-form2">
                    <select name="staff_filter" id="staff-filter">
                        <option value="" selected>Select Staff</option>
                        {% for staff in distinct_staff_member %}
                            <option value="{{ staff }}">{{ staff }}</option>
                        {% endfor %}
                    </select>
                </form>
                <form action="" method="GET">
                    <input type="text" name="search" placeholder="Search">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
            <br>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="3">Assigned Projects</th>
                    </tr>
                    <tr>
                        <th>Project Title</th>
                        <th>Start Date</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in all_projects %}
                    <tr>
                        <td><a href="/view_project_index/{{ i.id }}">{{ i.title }}</a></td>
                        <td>{{ i.start_date }}</td>
                        <td>{{ i.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
        <div class="table-responsive" style="width: 60%; margin-right: 1%; border: 1px solid black;">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="5">Assigned Tasks</th>
                    </tr>
                    <tr>
                        <th>Task</th>
                        <th>Project</th>
                        <th>Start Date</th>
                        <th>Due Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in c %}
                    <tr>
                        <td>{{i.id}}.<a href="/view_task/{{i.id}}">{{ i.title }}</a></td>
                        <td>{{ i.project }}</td>
                        <td>{{ i.start_date }}</td>
                        <td>{{ i.due_date }}</td>
                        {% if i.status == Null %}
                        <th>Not Updated</th>
                        {% else %}
                        <td>{{ i.status }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- <div class="table-responsive" style="width: 49%; border: 1px solid black;">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="5">Assigned SubTasks</th>
                    </tr>
                    <tr>
                        <th>SubTask</th>
                        <th>Start Date</th>
                        <th>Due Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in e %}
                    <tr>
                        <td>{{i.id}}.<a href="/view_subtasks/{{i.id}}">{{ i.title }}</a></td>
                        <td>{{ i.start_date }}</td>
                        <td>{{ i.due_date }}</td>
                        {% if i.status == Null %}
                        <th>Not Updated</th>
                        {% else %}
                        <td>{{ i.status }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div> -->
    </div>
</div><br>

<script>
    var selected_project = "{{ selected_project_title }}";
    var selected_staff_member = "{{ selected_staff_member }}";

    if (selected_project) {
        $('#project-filter').val(selected_project);
    }

    if (selected_staff_member) {
        $('#staff-filter').val(selected_staff_member);
    }

    $('#project-filter').change(function() {
        $('#filter-form1').submit();
    });

    $('#staff-filter').change(function() {
        $('#filter-form2').submit();
    });
</script>

{% endblock %}
